In [3]:
import pandas as pd
#archivo = '..\data\ISBSG - Release May 2017 R1.csv'
archivo = '..\data\ISBSG DATA Release 12.csv'
df = pd.read_csv(archivo, sep = ';', low_memory = False)
variables = ['Data Quality Rating', 'UFP rating', 'Industry Sector','Application Group', 'Development Type', 'Development Platform', 'Language Type', 'Primary Programming Language', 'Count Approach', 'Functional Size', 'Adjusted Function Points', 'Normalised Work Effort Level 1', 'Summary Work Effort', 'Project Elapsed Time', 'Business Area Type', '1st Data Base System', 'Used Methodology', 'Resource Level', 'Max Team Size', 'Average Team Size', 'Input count', 'Output count', 'Enquiry count', 'File count', 'Interface count', 'Agile Method Used']
df = df.loc[:, variables]
filtro = ((df['Data Quality Rating'] == 'A') | (df['Data Quality Rating'] == 'B')) & ((df['UFP rating'] == 'A') | (df['UFP rating'] == 'B')) 
df = df.loc[filtro, :]
filtro = (df['Normalised Work Effort Level 1'].notnull()) & (df['Normalised Work Effort Level 1'] == df['Summary Work Effort'])
df = df.loc[filtro, :]
filtro = df['Count Approach'] == 'IFPUG 4+'
df = df.loc[filtro, :]
variables = ['Industry Sector','Application Group', 'Development Type', 'Development Platform', 'Language Type', 'Primary Programming Language', 'Functional Size', 'Adjusted Function Points', 'Normalised Work Effort Level 1', 'Project Elapsed Time', 'Business Area Type', '1st Data Base System', 'Used Methodology', 'Max Team Size', 'Average Team Size', 'Input count', 'Output count', 'Enquiry count', 'File count', 'Interface count', 'Agile Method Used']
df = df.loc[:, variables]
df = df.dropna(axis=1, thresh=int(0.5*len(df)))
df = df.dropna()
print(len(df))
df['Project Elapsed Time'] = df['Project Elapsed Time'].str.replace(',', '.').astype(float)
programmingLenguaje = {'A:G':'Unspecified', 'ASP.Net':'ASP', 'BASIC':'Visual Basic', 'CSP':'Unspecified', 'Visual C':'C'}
df['Primary Programming Language'].replace( programmingLenguaje, inplace = True)
database = {'[;].*':';','ACCESS[; ].*':'ACCESS', 'MS Access':'ACCESS', 'ADABAS;':'ADABAS', 'Micosoft.*':'Attain', 'DB2[; /].*':'DB2', 'IBM DB2':'DB2', 'UDB2':'DB2', 'Domino[ ].*':'Domino', 'LOTUS.*':'Domino', 'Notes.*':'Domino', 'Exchange.*':'Exchange', 'FOXPRO;':'Foxpro', 'HIRDB;':'HIRDB', 'DB[/].*':'IMS', 'DEDB;':'IMS', 'IDMS[; -].*':'IMS', 'IMS.*':'IMS', 'MS[- ]SQL[; ].*':'MS SQL', 'MSDE.*':'MS SQL', 'SQL Server[; ].*':'MS SQL', 'SQL;':'MS SQL', 'VSE/.*':'MS SQL', 'NCR;':'NCR', 'Oracle.*':'ORACLE', 'Personal O.*':'ORACLE', 'RDB[; ].*':'ORACLE', 'CICS;':'ORACLE', 'SAS;':'SAS', 'Solid;':'Solid', 'SYBASE.*':'SYBASE', 'YES':'Unspecified', 'ISAM;':'Unspecified', 'multiple;':'Unspecified', 'VSAM[; ].*':'Unspecified', 'WATCOM[; ].*':'Watcom', 'WGRES;':'WGRES'}
df['1st Data Base System'].replace( database, inplace = True, regex = True)
df

621

,Industry Sector,Application Group,Development Type,Development Platform,Language Type,Primary Programming Language,Functional Size,Adjusted Function Points,Normalised Work Effort Level 1,Project Elapsed Time,1st Data Base System,Used Methodology
5,Insurance,Business Application,New Development,MF,3GL,Java,620.0,620.0,18160.0,7.0,IMS,Don't Know
33,Government,Business Application,New Development,MF,3GL,COBOL,243.0,250.0,2924.0,8.0,DB2,Yes
54,Utilities,Business Application,New Development,MF,3GL,PL/I,163.0,152.0,668.0,9.0,DB2,Yes
90,Manufacturing,Business Application,New Development,Multi,4GL,SQL,702.0,702.0,4805.0,12.3,ORACLE,Don't Know
106,Service Industry,Business Application,New Development,PC,3GL,C#,90.0,101.0,2006.0,5.0,MS SQL,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
5954,Government,Business Application,Enhancement,MF,3GL,COBOL,12.0,12.0,129.0,3.0,Unspecified,Yes
5965,Financial,Business Application,New Development,Multi,4GL,PowerBuilder,478.0,478.0,2716.0,5.8,ORACLE,Don't Know
5991,Financial,Business Application,Enhancement,MR,3GL,COBOL,242.0,213.0,2185.0,7.0,ORACLE,No
5995,Government,Business Application,Enhancement,MF,3GL,PL/I,96.0,96.0,1011.0,6.0,DB2,Yes
5998,Government,Business Application,New Development,Multi,4GL,Datastage,1048.0,1048.0,7722.0,16.0,DB2,Yes

Nos quedan 624 proyectos aplicando un filtrado similar al original.

In [4]:
#variables = ['Industry Sector', 'Application Group', 'Development Type', 'Platform Development', 'Language Type', 'Primary Programming Language', '1st Data Base System', 'Used Methodology']
variables = ['1st Data Base System', 'Primary Programming Language']
dcount = df.loc[:, variables]
for c in dcount.columns:
    print("---- %s ---" % c)
    print(dcount[c].value_counts())
    print('')

---- 1st Data Base System ---
DB2            214
ORACLE         163
IMS             76
MS SQL          46
Unspecified     27
No              21
ACCESS          20
Yes             13
Domino          10
SYBASE           9
Exchange         5
HIRDB            3
Attain           3
ADABAS           2
Watcom           2
ACCESS;          2
WGRES            1
Foxpro           1
SAS              1
NCR              1
Solid            1
Name: 1st Data Base System, dtype: int64

---- Primary Programming Language ---
COBOL                 121
Visual Basic          114
PL/I                   78
Java                   52
C#                     44
ABAP                   29
SQL                    25
C                      23
C++                    20
PowerBuilder           12
Lotus Notes            12
Oracle                 12
PL/SQL                 10
ASP                    10
Access                  8
EASYTRIEVE              7
Pro*C                   6
RPG                     4
TELON                   4
JavaScript              4
NATURAL                 4
Datastage               3
HTML                    3
C/AL                    3
OutlookVBA              3
DELPHI                  2
Unspecified             2
Visual Studio .Net      1
Shell                   1
.Net                    1
Visual C++              1
SAS                     1
AB INITIO               1
Name: Primary Programming Language, dtype: int64