In [1]:
import pandas as pd
import select_features
#archivo = '..\data\ISBSG - Release May 2017 R1.csv'
archivo = '..\data\ISBSG DATA Release 12.csv'
df = pd.read_csv(archivo, sep = ';', low_memory = False)
#variables = ['Data Quality Rating', 'UFP rating', 'Industry Sector','Application Group', 'Development Type', 'Development Platform', 'Language Type', 'Primary Programming Language', 'Count Approach', 'Functional Size', 'Adjusted Function Points', 'Normalised Work Effort Level 1', 'Summary Work Effort', 'Project Elapsed Time', 'Business Area Type', '1st Data Base System', 'Used Methodology', 'Resource Level', 'Max Team Size', 'Average Team Size', 'Input count', 'Output count', 'Enquiry count', 'File count', 'Interface count', 'Agile Method Used']
df.columns

Index(['ISBSG Project ID', 'Data Quality Rating', 'UFP rating',
       'Year of Project', 'Industry Sector', 'Organisation Type',
       'Application Group', 'Application Type', 'Development Type',
       'Development Platform',
       ...
       'Added count', 'Changed count', 'Deleted count', 'COSMIC Entry',
       'COSMIC Exit', 'COSMIC Read', 'COSMIC Write', 'Lines of Code',
       'Lines of Code not Statements', 'Other Size Units'],
      dtype='object', length=126)

In [2]:
variables = ['Data Quality Rating', 'UFP rating', 'Industry Sector','Application Group', 'Development Type', 'Development Platform', 'Language Type', 'Primary Programming Language', 'Count Approach', 'Functional Size', 'Adjusted Function Points', 'Normalised Work Effort Level 1', 'Summary Work Effort', 'Project Elapsed Time', 'Business Area Type', '1st Data Base System', 'Used Methodology', 'Resource Level', 'Max Team Size', 'Average Team Size', 'Input count', 'Output count', 'Enquiry count', 'File count', 'Interface count']
df = df.loc[:,variables]
df

,Data Quality Rating,UFP rating,Industry Sector,Application Group,Development Type,Development Platform,Language Type,Primary Programming Language,Count Approach,Functional Size,...,1st Data Base System,Used Methodology,Resource Level,Max Team Size,Average Team Size,Input count,Output count,Enquiry count,File count,Interface count
0,D,A,Service Industry,Business Application,New Development,MR,4GL,Oracle,NESMA,237.0,...,Oracle;,No,1.0,5,5,60,110,10.0,42,15.0
1,B,A,Construction,Business Application,New Development,Multi,4GL,Access,IFPUG 4+,443.0,...,ACCESS;,Don't Know,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B,A,Wholesale & Retail,Business Application,Enhancement,NaN,3GL,COBOL,IFPUG 4+,76.0,...,NaN,Yes,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B,A,NaN,NaN,Enhancement,NaN,NaN,NaN,IFPUG 4+,3.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B,A,Wholesale & Retail,Business Application,Enhancement,MF,3GL,COBOL,IFPUG 4+,382.0,...,Interactive;,Yes,4.0,NaN,NaN,186,7,172.0,7,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6001,B,B,Government,Business Application,Enhancement,MF,3GL,COBOL,IFPUG 4+,23.0,...,NaN,Yes,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6002,B,A,NaN,NaN,New Development,NaN,NaN,NaN,IFPUG 4+,291.0,...,NaN,Don't Know,1.0,3,"1,7",NaN,NaN,NaN,NaN,NaN
6003,B,A,Government,Business Application,Enhancement,MF,3GL,COBOL,IFPUG 4+,119.0,...,IDMS;,Yes,4.0,NaN,NaN,18,46,18.0,7,30.0
6004,A,NaN,Government,Business Application,New Development,PC,3GL,C,COSMIC,45.0,...,SYBASE Adaptive Server;,Yes,4.0,3,"1,8",NaN,NaN,NaN,NaN,NaN
6005,B,B,Manufacturing,Business Application,Enhancement,Multi,3GL,Java,IFPUG 4+,95.0,...,Oracle;,Yes,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
filtro = ((df['Data Quality Rating'] == 'A') | (df['Data Quality Rating'] == 'B')) & ((df['UFP rating'] == 'A') | (df['UFP rating'] == 'B')) 
df = df.loc[filtro, :]
filtro = (df['Normalised Work Effort Level 1'].notnull()) & (df['Normalised Work Effort Level 1'] == df['Summary Work Effort'])
df = df.loc[filtro, :]
filtro = df['Count Approach'] == 'IFPUG 4+'
df = df.loc[filtro, :]
variables = ['Industry Sector','Application Group', 'Development Type', 'Development Platform', 'Language Type', 'Primary Programming Language', 'Functional Size', 'Adjusted Function Points', 'Normalised Work Effort Level 1', 'Project Elapsed Time', 'Business Area Type', '1st Data Base System', 'Used Methodology', 'Max Team Size', 'Average Team Size', 'Input count', 'Output count', 'Enquiry count', 'File count', 'Interface count']
df = df.loc[:,variables]
df = df.dropna(axis=1, thresh=int(0.5*len(df)))
df = df.dropna()
df

,Industry Sector,Application Group,Development Type,Development Platform,Language Type,Primary Programming Language,Functional Size,Adjusted Function Points,Normalised Work Effort Level 1,Project Elapsed Time,1st Data Base System,Used Methodology
5,Insurance,Business Application,New Development,MF,3GL,Java,620.0,620.0,18160.0,7,IMS;DB2;,Don't Know
33,Government,Business Application,New Development,MF,3GL,COBOL,243.0,250.0,2924.0,8,DB2;,Yes
54,Utilities,Business Application,New Development,MF,3GL,PL/I,163.0,152.0,668.0,9,DB2;,Yes
90,Manufacturing,Business Application,New Development,Multi,4GL,SQL,702.0,702.0,4805.0,"12,3","Oracle,SQL Server;",Don't Know
106,Service Industry,Business Application,New Development,PC,3GL,C#,90.0,101.0,2006.0,5,MS SQL Server 2005;,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
5954,Government,Business Application,Enhancement,MF,3GL,COBOL,12.0,12.0,129.0,3,VSAM;,Yes
5965,Financial,Business Application,New Development,Multi,4GL,PowerBuilder,478.0,478.0,2716.0,"5,8",Oracle;,Don't Know
5991,Financial,Business Application,Enhancement,MR,3GL,COBOL,242.0,213.0,2185.0,7,RDB;,No
5995,Government,Business Application,Enhancement,MF,3GL,PL/I,96.0,96.0,1011.0,6,DB2;,Yes
5998,Government,Business Application,New Development,Multi,4GL,Datastage,1048.0,1048.0,7722.0,16,DB2;,Yes